body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
h1,h2,h3,p
{
    font-size:1.3em;
    text-align: left;
    padding-left:15px;
}
a
{
    text-decoration: none;
    display:block;
}
.error 
{
    margin: 0;
    color:red;
    font-size: 0.7em;
    text-align: start;
    padding-left:45%;
}
.form-registro input
{
    background-color:#333;
    border:solid 1px #333;
    color:white;
    border-radius:5px;
}

/*----------------------INDEX----------------------------*/
#index
{
    padding:0;
    text-align: center;
}
.bloque-nombre-red
{
     background-image: url(../img/road-to-the-social.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     height: 50vh;
     background-position: center;
}

#index-header
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#index-section
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#333;
}
.registrate a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px 0;
    background-color:white ;
    color:#333;
}
.login a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px;
    background: white ;
    color:#333;
}
.login a:hover, .registrate a:hover 
{
    text-decoration: none;
    background-color:lightslategray;
    border: solid 1px #333;
    color:white;
}
.contenedor-header
{
   margin:0 auto;
}

.bloque-article
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;  
}
.bloque-article i
{
    font-size:1.7em;
    color:white;
    line-height: 43px;
    height: 50px;
}
.bloque-article h3
{
    font-size:1.5em;
    color:white;
}
.bloque-footer 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 6vh;
    padding:0;
}
.bloque-footer p, .bloque-footer a, .bloque-footer div
{
    text-align: center;
    font-size:0.9em;
    padding:0;
    color:grey;
}
.bloque-footer p
{
    margin: auto 0;
}
.bloque-footer p:hover, .bloque-footer a:hover
{
    text-decoration: none;
}
#footer-index{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: white;
}
/*---------------------------------------------------*/

/*----------------------LOGIN------------------------*/

.contenedor-login
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    padding:0;
}
.contenedor-login article 
{
    border: solid 2px #eaeaea;
    height: 50vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.contenedor-login article form p
{
    text-align: center;
}
.contenedor-login article form p label 
{
    text-align: left;
    font-size:0.7em;
    padding-left:60px;
    margin:0;
    color:white;
    font-weight: bold;
}
.contenedor-login article form p button
{
    border-radius: 100px;
    border: solid 2px black;
    padding: 4px 15px;
    color:black;
    font-size:0.8em;
}
.contenedor-login article form p input
{
    border-radius: 100px;
    border: solid 2px white;
    padding: 4px 15px;
    color:black;
    font-size:0.8em;
    border-radius: 5px;
}
.contenedor-login p
{
    margin-bottom:15px;
}
.contenedor-login article form p button
{
    color:white;
    background-color: black;
    font-weight: bold;
}
.contenedor-login article svg
{
    width: 30px;
   color: white;
}

.contenedor-login article div
{
    text-align: center;
    border: solid 2px white;
    border-radius: 50%;
    padding:15px;
    position: absolute;
    top: -35px;
    background-color:black;
    z-index: 50;
}
.contenedor-login #footer-login{
    background-color: white;
    margin-top: auto;
}
.contenedor-login #footer-login .bloque-footer
div p
{
    margin: auto;
}
.recordar 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color:white;
    font-size:0.8em;
    padding-left: 18%;
}

.recordar input, .recordar-registro input
{
    margin-right: 10px;
}

.tama単o {
    width: 250 px;
    height: 80px;
    padding: 0;
  
}

.tam{
    width: 50px;
    height: 50px;
    align-content: flex-start;
}

/*---------------------------------------------------*/

/*-------------------Registro------------------------*/


.contenedor-registro 
{
 padding:0;
}
.fondo
{
    background-image: url(../img/road-to-the-social.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    height: 50vh;
    background-position: center;
}
.contenedor-registro #registro
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: solid 0.5px;
}

.bloque-registro input,
.bloque-registro label
{
 display:block;
}

.form-registro
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   
}

.form-registro div 
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.form-registro div:nth-child(8)
{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 0;
}
.form-registro div button
{
    border:solid 1px #333;
    border-radius: 100px;
    padding: 4px 0;
    background-color: #333;
    color:white;
    display: block;
    text-transform: uppercase;
    font-size:1em;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 35px;
}
.form-registro div button:hover
{
    text-decoration: none;
background-color:lightslategray;
}

.bloque-p-registro
{
    border: solid 1px #333;
}
.bloque-foto-perfil .bloque-foto
{
    border:solid 1px #333;
    margin-left: 50%;
    position: relative;
    background-color: #333;
    border-radius: 5px;
}

.bloque-foto input 
{
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    opacity: 0;
}
.bloque-foto p
{
    text-align: center;
    line-height: 10px;
    padding-top: 17px;
    color:white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.imagen-upload
{
    color:white;
    font-size: 1.5em;
    margin-right: 50px;
    position: absolute;
    top:10px;
    margin-left: -40%;
}
.recordar-registro
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#333;
    font-size:0.8em;
    padding-left: 25%;
    margin-bottom: 0;
}
#footer-registro{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: white;
    border-top: solid 1px #eaeaea;
}
.section-registro 
{
    height: 50vh;
}
/*---------------------------------------------------*/

/*-------------------------FAQ-----------------------*/
.contenedor-faq
{
    padding:0;
}
.header-faq
{
    background-color: black;
    display: flex;
    justify-content: center;
}
.header-faq img
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.article-faq h1
{
    font-size: 1.6em;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.article-faq-form h2
{
    padding: 20px;
    font-size: 1.4em;
}
.article-faq div 
{
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.article-faq div:first-child
{
    margin-top:5px;
}

.section-faq
{
    padding:0;
}
.form-faq
{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 60px;
    justify-content: center;
}
.form-faq label, .form-faq input, 
.form-faq textarea, .form-faq button
{
    margin: 10px;
    margin-left:25px;
    font-size: 1.1em;
}


/*---------------------------------------------------*/

/*--------------------PERFIL-------------------------*/


.form-perfil 
{
    text-align: left;
    width: 100%;

}
.form-perfil p
{
 width: 100%;
}
.form-perfil p img 
{
    width: 100%;
}
.foto-perfil 
{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top:-50px;
    padding-inline-start: 15px;
}
.bloque-foto-perfil, .bloque-boton-perfil
{
    width: 50%;
    text-align: center;
    padding-top: 5px;
}
.bloque-boton-perfil button
{
    width: 50%;
    background-color: transparent;
    border: solid 1px transparent;
}
.subirfoto,.cargarfoto
{
    font-size:20px;
    color:blue;
}
.foto-perfil input 
{
    opacity: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.demo4
{
    background-color: black;
}
.cambiarcontrase単a
{
    width: 65%;
    background-color: #7d97a5 !important;
    border: solid 1px  #7d97a5 !important;
    padding:5px;
    color:white;
}
.error-perfil
{
    margin: 0;
    color:red;
    font-size: 0.7em;
    text-align: left;
}
/*---------------------------------------------------*/

/*------------PERFIL--------------*/
.contenedor-perfil
{
    padding:0;
}
.header-perfil
     {
         padding:5px;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         background-color: black;
     }
.fa-bell,.fa-envelope,.fa-user,.fa-globe,.fa-cog
     {
         color: grey;
        font-size: 1.2em;
     }
     .dropdown-toggle
     {
         color:grey;
     }
     .socialperfil
     {
         color:white;
         font-size: 1em;
         font-weight: bold;
     }
     .socialperfil:hover,.dropdown-toggle:hover
     {
         color:white;
     }
     .li-salir
     {
         align-self: center;
     }
     .li-salir button
     {
         font-weight: bold;
         background-color: black;
         color:white;
         border:solid 1px black;
     }
     .informacion .bloke-imagen-perfil
     {
         width: 100%;
     }
     .informacion
     {
        background-color: white;
        color:black;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 15px;
        
     }
     .informacion .bloke-imagen-perfil img
     {
        height: 50vh;
        width: 100%;
     }
     .informacion .nombre-perfil 
     {
        text-align: center;
     }
     .bloke-info 
     {
        border-top: solid 1px #eaeaea;
        margin-top:10px;
     }
     .bloke-info div
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
     .bloke-info div p 
     {
         padding-top: 17px;
     }
     .seccion-perfil 
     {
         background-color:#333;
         padding:25px;
     }
     .mis-perfil
     {
         margin-top:25px;
         margin-bottom: 40px;
     }
     .publicacion-perfil
     {
         border: solid 1px ;
         background-color: white;
         padding: 15px 10px;
     }
     .publicacion-perfil input 
     {
         width: 100%;
         padding: 10px 3px;
     }
     .publicacion-perfil button
     {
        background-color: #607d8b !important;
        color:#fff !important;
        border: solid 1px #fff;
        padding: 10px;
        width: 150px;
     }
     .publicaciones-perfil
     {
         background-color: white;
         margin-top: 15px;
         padding: 15px;
         overflow: auto;
     }
     .user-public img 
     {
         width: 100%;
     }
     .pp
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         border-bottom: solid 1px #333;
         padding: 10px 5px;
     }
     .publicaciones-perfil .texto-publicacion
     {
         margin:5px 0;
     }
     .interaccion-publicacion
     {
         margin-top: 10px;
     }
     .interaccion-publicacion button
     {
        width: 150px;
        background-color: black;
        color:white;
        padding: 7px 3px;
        border:solid 1px black;
     }
     .pp p 
     {
         padding-top:15px;
         align-self: center;
     }
     .user-public img 
     {
        border:solid 1px #333;
        border-radius: 50%;
        width: 100%;
     }
     .imagen-public
     {
         width: 100%;
     }
     .imagen-public img 
     {
         width: 100%;
     }
     .solicitudes-amistad
     {
         height: 40vh;
         overflow: auto;
         background-color: white;
     }
     .solicitudes-amistad h2
     {
         text-align: center;
         padding: 15px 10px;
     }
     .sa 
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;
         padding:15px;
     }
     .foto-solicitud img 
     {
         width: 100%;
     }
     .foto-solicitud 
     {
         width: 60px;
     }
     .sa p 
     {
         padding-top: 15px;
     }
     .sa form .check 
     {
        background-color: green;
        color:white;
        padding: 10px 5px;
        border:solid 1px green;
        width: 75px;
     }
     .sa form .remove 
     {
        background-color: red;
        color:white;
        padding: 10px 5px;
        border:solid 1px red;
        width: 75px;
     }
     .contenedor-datousuario
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         height: 100vh;
         background-color: #333;
     }
     .card-header
     {
         
         background-color: #607d8b !important;
     }
     .btn-link,.btn-link:hover,.btn-link:focus
     {
        color:white;
        text-decoration: none;
     }
     #fecha-cumple,#cambiardatos,#cambiarcontrase単a,#cambiarfoto
     {
         color:grey;
         width: 221px;
     }
     #cambiardatos,#cambiarcontrase単a,#cambiarfoto
     {
         color:white;
        padding: 10px 0;
         background-color: #607d8b;
     }
     .cambiarfotoperfil input
     {
        opacity: 0;
        position: absolute;
        left:0;
        right: 0;
        top:0;
        bottom: 0;
        width: 100%;
     }
     .cambiarfotoperfil 
     {
         border:solid 1px #333;
         position: relative;
         width: 221px;
         text-align: center;
         padding: 15px 0;
         background-color: #607d8b;
         color:white;
         margin-left: 15px;
     }
     .volver
     {
         color:white;
         text-decoration: none;
     }
     .volver:hover
     {
         color:white;
         text-decoration: none;
     }
     .borrar-public
     {
         color:white;
         background-color: red ;
         border: solid 1px red;
     }
     .div-subirfoto
     {
        border:solid 1px #333;
        position: relative;
        width: 150px;
        text-align: center;
        padding: 5px 0;
        background-color: #607d8b;
        color:white;
     }
     .div-subirfoto input
     {
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
     }
@media (min-width:768px)
{
    .form-registro div:last-child
    {
        justify-content: center;
    }
    .error 
    {
        padding-left: 45%;
    }
    .bloque-boton-registro
    {
       margin-left: 50%;
    }
    .imagen-upload
    {
        margin-left: -40%;
    }
    .recordar-registro
    {
       margin-left: 40%;
    }
}
@media (min-width: 992px)
{
   
    /*------------INDEX----------*/
    .bloque-nombre-red
    {
        height: 50vh;
    }
    /*---------------------------*/
    
    /*--------Registro-----------*/
     .contenedor-registro 
     {
         height: 100vh;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
     .fondo
     {
         background-size: cover;
     }
     .form-registro div:last-child
    {
        justify-content: flex-end;
    }
    .error 
    {
        padding-left: 37%;
        text-align: left;
    }
    .bloque-boton-registro
    {
       margin-left: 51%;
    }
    .imagen-upload
    {
        margin-left: -40%;
    }
      /*---------------------------*/

      /*-------------FAQ-------------*/
      .header-faq img
    {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 700px;
    }

      
      .section-faq
      {
          display: flex;
          flex-wrap: wrap;
      }
      .article-faq
      {
          margin-bottom: 20px;

      }
      .article-faq .col-lg-6, .article-faq-form .col-lg-6
      {
          max-width: 100%;
      }
      .form-faq label, .form-faq input, 
      .form-faq textarea, .form-faq button
      {
          margin-left:0px;
      }
      .contenedor-registro #registro
      {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: none;
      }
      /*------PERFIL--------*/
      .seccion-perfil
      {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .imagen-public img 
      {
          height: 70vh;
      }
      .foto-solicitud img 
      {
          width: 100%;
          height: 20vh;
      }
      .solicitudes-amistad form 
      {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .solicitudes-amistad form button
      {
        justify-content: flex-end;
      }
}


@media (min-width: 1200px)
{
    /*------------INDEX----------*/
    #index
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    .bloque-nombre-red
    {
        height: 100vh;
    } 
    /*---------------------------*/
    /*-------------REGISTRO-------------*/
    .fondo
     {
         height: 100vh;
         background-size: cover;
     }
     .bloque-boton-registro
    {
       margin-left: 0%;
    }
    .recordar-registro
    {
       margin-left: 0;
    }
    /*-----------------------------*/
     /*-------------FAQ-------------*/
    .contenedor-faq .header-faq
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-faq img
    {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 800px;
    }
    .article-faq div 
    {
        border-left:0;
    }
     /*---------------------------*/

     /*PERFIL*/
     .user-public img 
     {
         width: 75%;
     }
}


.bg-nav{
    background-color: black;
    color: gray;
}

.bg-cmain{
    background-color:#333;
}

.bg-like-comm{
    background-color: black;
    color: white;
}
