body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
h1,h2,h3,p
{
    font-size:1.3em;
    text-align: left;
    padding-left:15px;
}
a
{
    text-decoration: none;
    display:block;
}
/*----------------------INDEX----------------------------*/
#index
{
    padding:0;
    text-align: center;
}
.bloque-nombre-red
{
     background-image: url(../img/road-to-the-social.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     height: 50vh;
     background-position: center;
}

#index-header
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#index-section
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#333;
}
.registrate a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px 0;
    background-color:white ;
    color:#333;
}
.login a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px;
    background: white ;
    color:#333;
}
.login a:hover, .registrate a:hover 
{
    text-decoration: none;
    background-color:lightslategray;
    border: solid 1px #333;
    color:white;
    
}
.contenedor-header
{
   margin:0 auto;
}

.bloque-article
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;  
}
.bloque-article i
{
    font-size:1.7em;
    color:white;
    line-height: 43px;
    height: 50px;
}
.bloque-article h3
{
    font-size:1.5em;
    color:white;
}
.bloque-footer 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 6vh;
    padding:0;
}
.bloque-footer p, .bloque-footer a, .bloque-footer div
{
    text-align: center;
    font-size:0.9em;
    padding:0;
    color:grey;
}
.bloque-footer p
{
    margin: auto 0;
}
.bloque-footer p:hover, .bloque-footer a:hover
{
    text-decoration: none;
}


/*---------------------------------------------------*/

/*----------------------LOGIN------------------------*/

.contenedor-login
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}
.contenedor-login article 
{
    border: solid 2px #eaeaea;
    height: 50vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
}
.contenedor-login article form p
{
    text-align: center;
}
.contenedor-login article form p label 
{
    text-align: left;
    font-size:0.7em;
    padding-left:60px;
    margin:0;
    color:white;
    font-weight: bold;
}
.contenedor-login article form p button
{
    border-radius: 100px;
    border: solid 2px black;
    padding: 4px 15px;
    color:black;
    font-size:0.8em;
}
.contenedor-login article form p input
{
    border-radius: 100px;
    border: solid 2px white;
    padding: 4px 15px;
    color:black;
    font-size:0.8em;
}
.contenedor-login p
{
    margin-bottom:15px;
}
.contenedor-login article form p button
{
    color:white;
    background-color: black;
    font-weight: bold;
}
.contenedor-login article svg
{
    width: 30px;
   color: white;
}

.contenedor-login article div
{
    text-align: center;
    border: solid 2px white;
    border-radius: 50%;
    padding:15px;
    position: absolute;
    top: -35px;
    background-color:black;
    z-index: 50;
}

/*---------------------------------------------------*/

/*-------------------Registro------------------------*/


.contenedor-registro 
{
 padding:0;
}
.fondo
{
    background-image: url(../img/road-to-the-social.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    height: 50vh;
    background-position: center;
}
.bloque-registro input,
.bloque-registro label
{
 display:block;
}
.form-registro
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    align-items: center;
}
.form-registro div 
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-registro div:last-child
{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.form-registro div button
{
    border:solid 1px #333;
    border-radius: 100px;
    padding: 3px 0;
    background-color: #333;
    color:white;
}
.form-registro div button:hover
{
    text-decoration: none;
background-color:lightslategray;
border: solid 1px #333;
color:white;
}

/*---------------------------------------------------*/

/*-------------------------FAQ-----------------------*/
.contenedor-faq
{
    padding:0;
}
.header-faq 
{
  background-image: url(../img/road-to-the-social.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

.article-faq div 
{
  margin-bottom: 5px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.article-faq div:first-child
{
    margin-top:5px;
}
.article-faq div:last-child
{
    border-bottom: solid 1px #333;
    justify-content: space-around;
}
.section-faq
{
    padding:0;
}
/*---------------------------------------------------*/
@media (min-width: 992px)
{
   
    /*------------INDEX----------*/
    .bloque-nombre-red
    {
        height: 50vh;
    }
    /*---------------------------*/
    
    /*--------Registro-----------*/
     .contenedor-registro 
     {
         height: 100vh;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
     .fondo
     {
         height: 100vh;
         background-size: cover;
     }
      /*---------------------------*/
      .article-faq
      {
          display:flex;
          flex-wrap: wrap;
          justify-content: center;
          height: 50vh;
      }
      .article-faq div 
      {
          border-bottom: solid 1px #333;
          border-left:solid 1px #333;
          margin-bottom:0;
          margin-top: 0;
      }
}


@media (min-width: 1200px)
{
    /*------------INDEX----------*/
    #index
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    .bloque-nombre-red
    {
        height: 100vh;
    } 
    /*---------------------------*/

    .contenedor-faq
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-faq, .article-faq
    {
        height: 100vh;
    }
    .article-faq div 
    {
        border-left:0;
    }
}