:root{
    --color-fondoBoton: lightslategray;
}

body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
h1,h2,h3,p
{
    font-size:1.3em;
    text-align: left;
    padding-left:15px;
}
a
{
    text-decoration: none;
    display:block;
}
.redondo
{
    width: 28px;
    height: 28px;
}
.error 
{
    margin: 0;
    color:red;
    font-size: 0.7em;
    text-align: start;
    padding-left:45%;
}
.form-registro input
{
    background-color:#333;
    border:solid 1px #333;
    color:white;
    border-radius:5px;
}
.form-control 
{
 background-color: #333;
 color:white;
}
.form-control:focus
{
    
    background-color: #333;
    color:white;
    border:solid 1px #333;
}
.boton-registro
{
 background-color: #333;
 color:White;
 width: 100%;
 padding: 5px 0;
 border:solid 1px #333;
}

/*----------------------INDEX----------------------------*/
#index
{
    padding:0;
    text-align: center;
}
.bloque-nombre-red
{
     background-image: url(../img/road-to-the-social.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     height: 50vh;
     background-position: center;
}

#index-header
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#index-section
{
    font-size:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#333;
}
.registrate a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px 0;
    background-color:white ;
    color:#333;
}
.login a
{
    border:solid 1px white;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 5px;
    background: white ;
    color:#333;
}
.login a:hover, .registrate a:hover 
{
    text-decoration: none;
    background-color:lightslategray;
    border: solid 1px #333;
    color:white;
    transition: .25s;
}
.contenedor-header
{
   margin:0 auto;
}

.bloque-article
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;  
}
.bloque-article i
{
    font-size:1.7em;
    color:white;
    line-height: 43px;
    height: 50px;
}
.bloque-article h3
{
    font-size:1.5em;
    color:white;
}
.bloque-footer 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 6vh;
    padding:0;
}
.bloque-footer p, .bloque-footer a, .bloque-footer div
{
    text-align: center;
    font-size:0.9em;
    padding:0;
    color:grey;
}
.bloque-footer p
{
    margin: auto 0;
}
.bloque-footer p:hover, .bloque-footer a:hover
{
    text-decoration: none;
}
#footer-index{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: white;
    border-top: 1px solid grey;
}
/*---------------------------------------------------*/

/*----------------------LOGIN------------------------*/
.alerta
{
    text-align: right;
}
.contenedor-login
{
    background-color: #333;
    padding:0;
    margin: 0;
    height: 100vh;
}

.contenedor-login main 
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    border: solid 2px #eaeaea;
    align-items: center;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#form-login{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.label-login {
    text-align: center;
    font-size: 0.75em;
    margin: 0;
    color: white;
    font-weight: bold;
}
#input-login, #input-login2
{
    border: solid 2px white;
    padding: 4px 15px;
    color:white;
    font-size:0.8em;
    border-radius: 14px;
    margin: 10px auto;
    width: 200px;
    outline: none;
    transition: 0.25s;
    text-align: center;
}
#input-login:focus,#input-login:hover{
    border: var(--color-fondoBoton) 2px solid;
    width: 250px;
}
#input-login2:focus,#input-login2:hover{
    border: var(--color-fondoBoton) 2px solid;
    width: 250px;
}
input.recordarme-login,
span.recordarme-login{
    position: absolute;
    color:white;
    font-size:0.8em;
    display: inline;
    }


input.recordarme-login{
    margin: 5px 0;
    bottom: 31%;
    left: 30%;
}
span.recordarme-login{
    bottom: 31.5%;
    transform: translateX(-5px);
}

.recordar 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color:white;
    font-size:0.8em;
    padding-left: 18%;
}

.recordar input, .recordar-registro input
{
    margin-right: 10px;
}
#boton-login
{
    border-radius: 25px;
    border: solid 2px black;
    padding: 4px 15px;
    font-size:0.8em;
    color:white;
    background-color: black;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 25px 0 20px 0;
    transform: translateY(25%);
    transition: .35s;
    width: 200px;
}
#boton-login:hover{
    background: var(--color-fondoBoton);
    border: var(--color-fondoBoton) solid 2px;

}


.contenedor-login main div
{
    text-align: center;
    border: solid 2px white;
    border-radius: 50%;
    padding:15px;
    position: absolute;
    top: -35px;
    background-color:black;
    z-index: 50;
}
.contenedor-login main svg
{
    width: 30px;
   color: white;
   transform: translateX(-15%);
}

.contenedor-login #footer-login{
    background-color: white;
    position: absolute;
    bottom: 0%;
}
.contenedor-login #footer-login .bloque-footer
div p
{
    margin: auto;
}

.tamaño {
    width: 250 px;
    height: 80px;
    padding: 0;
  
}

.tam{
    width: 50px;
    height: 50px;
    align-content: flex-start;
}

/*---------------------------------------------------*/

/*-------------------Registro------------------------*/


.contenedor-registro 
{
 padding:0;
}
.fondo
{
    background-image: url(../img/road-to-the-social.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    height: 50vh;
    background-position: center;
}
.contenedor-registro #registro
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: solid 0.5px;
}

.bloque-registro input,
.bloque-registro label
{
 display:block;
}

.form-registro
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   
}

.form-registro div 
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.form-registro div:nth-child(7)
{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 0;
}
.form-registro div button
{
    border:solid 1px #333;
    border-radius: 100px;
    padding: 4px 0;
    background-color: #333;
    color:white;
    display: block;
    text-transform: uppercase;
    font-size:1em;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 35px;
}
.form-registro div button:hover
{
    text-decoration: none;
background-color:lightslategray;
}

.bloque-p-registro
{
    border: solid 1px #333;
}
.bloque-foto-perfil .bloque-foto
{
    border:solid 1px #333;
    position: relative;
    background-color: #333;
    border-radius: 5px;
}

.bloque-foto input 
{
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    opacity: 0;
    z-index: 1;
}
.bloque-foto p
{
    text-align: center;
    line-height: 10px;
    padding-top: 17px;
    color:white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding-right: 40px;
}
.imagen-upload
{
    color:white;
    font-size: 1.5em;
    margin-right: 50px;
    position: absolute;
    top:10px;
    margin-left: -40%;
    padding-right: 0;
    cursor: pointer;

}
.recordar-registro
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#333;
    font-size:0.8em;
    padding-left: 25%;
    margin-bottom: 0;
}
#footer-registro{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: white;
    border-top: solid 1px #eaeaea;
}
.section-registro 
{
    height: 50vh;
}
.bloque-foto-perfil
{
     left:16%;
 }
 .error2
 {
      padding-left:20%;
  }

  .bloque-foto-perfil .alerta{
      display: block;
  }
/*---------------------------------------------------*/

/*-------------------------FAQ-----------------------*/
.contenedor-faq
{
    padding:0;
}
.header-faq
{
    background-color: black;
    display: flex;
    justify-content: center;
}
.header-faq img
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.article-faq h1
{
    font-size: 1.6em;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.article-faq-form h2
{
    padding: 20px;
    font-size: 1.4em;
}
.article-faq div 
{
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.article-faq div:first-child
{
    margin-top:5px;
}

.section-faq
{
    padding:0;
}
.form-faq
{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 60px;
    justify-content: center;
}
.form-faq label, .form-faq input, 
.form-faq textarea, .form-faq button
{
    margin: 10px;
    margin-left:25px;
    font-size: 1.1em;
}


/*---------------------------------------------------*/

/*--------------------PERFIL-------------------------*/


.form-perfil 
{
    text-align: left;
    width: 100%;

}
.form-perfil p
{
 width: 100%;
}
.form-perfil p img 
{
    width: 100%;
}
.foto-perfil 
{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top:-50px;
    padding-inline-start: 15px;
}
.bloque-foto-perfil, .bloque-boton-perfil
{
    width: 50%;
    text-align: center;
    padding-top: 5px;
}
.bloque-boton-perfil button
{
    width: 50%;
    background-color: transparent;
    border: solid 1px transparent;
}
.subirfoto,.cargarfoto
{
    font-size:20px;
    color:blue;
}
.foto-perfil input 
{
    opacity: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.demo4
{
    background-color: black;
}
.cambiarcontraseña
{
    width: 65%;
    background-color: #7d97a5 !important;
    border: solid 1px  #7d97a5 !important;
    padding:5px;
    color:white;
}
.error-perfil
{
    margin: 0;
    color:red;
    font-size: 0.7em;
    text-align: left;
}
/*---------------------------------------------------*/

/*------------PERFIL--------------*/
.contenedor-perfil
{
    padding:0;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

body::-webkit-scrollbar-thumb{
    background: var(--color-fondoBoton);
    border-radius: 4px;
}
body::-webkit-scrollbar-track{
    background: rgb(75, 87, 100);  ;
}
.contenedor-perfil .col-12
{
    padding-left:0;
}
.header-perfil
     {
         padding:5px;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         background-color: black;
     }
.fa-bell,.fa-envelope,.fa-user,.fa-globe,.fa-cog
     {
         color: grey;
        font-size: 1.2em;
     }
     .dropdown-toggle
     {
         color:grey;
     }
     .socialperfil
     {
         color:white;
         font-size: 1em;
         font-weight: bold;
     }
     .socialperfil:hover,.dropdown-toggle:hover
     {
         color:white;
     }
     .li-salir
     {
         align-self: center;
     }
     .li-salir button
     {
         font-weight: bold;
         background-color: black;
         color:white;
         border:solid 1px black;
     }
     .informacion .bloke-imagen-perfil
     {
         width: 100%;
     }
     .informacion
     {
        background-color: white;
        color:black;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 15px;
        border-radius: 5px;
        box-shadow: 0px 1px 12px rgba(0, 0, 0,.4);

     }
     .informacion .bloke-imagen-perfil img
     {
        height: 50vh;
        width: 100%;
     }
     .informacion .nombre-perfil 
     {
        text-align: center;
     }
     .bloke-info 
     {
        border-top: solid 1px #eaeaea;
        margin-top:10px;
     }
     .bloke-info div
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
     .bloke-info div p 
     {
         padding-top: 17px;
     }
     .seccion-perfil 
     {
         background: rgb(75, 87, 100);
         padding:25px;
     }
     .mis-perfil
     {
         margin-top:25px;
         margin-bottom: 40px;
     }
     .publicacion-perfil
     {
         background-color: white;
         padding: 15px 10px;
         border-radius: 5px;
         box-shadow: 0px 1px 12px rgba(0, 0, 0,.4);
     }
     .publicacion-perfil input 
     {
         width: 100%;
         padding: 10px 3px;
     }


     .publicacion-perfil button
     {
        background-color: #607d8b !important;
        color:#fff !important;
        border: solid 1px #fff;
        padding: 5.5px;
        width: 150px;
     }
     .publicacion-perfil button:active{
         transition: .2s;
         transform: scale(.9);
         will-change: transform;
     }

     .publicaciones-perfil
     {
         background-color: white;
         margin-top: 15px;
         padding-top: 15px;
         overflow: auto;
         border-radius: 5px;
         box-shadow: 0px 2px rgba(0, 0, 0,.2), 0 -2px rgba(0, 0, 0,.1);
     }
     .publicaciones-perfil button:active{
        transition: .2s;
        transform: scale(.9);
        will-change: transform;
     }
     .user-public img 
     {
         width: 40px;
         height: 40px;
     }
     .pp
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         border-bottom: solid 1px #333;
         padding: 10px 5px;
     }
     .publicaciones-perfil .texto-publicacion
     {
         margin:5px 0;
     }
     .interaccion-publicacion
     {
         margin-top: 10px;
         padding-left:15px;
     }
     .separar 
     {
        border-bottom: solid 25px rgba(75, 87, 100,5);
        padding-bottom: 15px;
     }
     .separar:last-child{
         border-bottom: 0;
     }
     .interaccion-publicacion button{
        border-radius: 5px;
     }
     .datosusuario-bloque 
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: flex-start;
     }
     .datosusuario-bloque div 
     {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
     }
     .datosusuario-bloque p{
        
        align-self: center;
     }
     .datosusuario-bloque p 
     {
         margin-top: 0;
         margin-bottom: 0;
     }
     .interaccion-publicacion button
     {
        width: 150px;
        background-color: black;
        color:white;
        padding: 7px 3px;
        border:solid 1px black;
     }
     .pp p 
     {
         padding-top:15px;
         align-self: center;
     }
     .user-public img 
     {
        border:solid 1px #333;
        border-radius: 50%;
        width: 100%;
     }
     .imagen-public
     {
         width: 100%;
     }
     .imagen-public img 
     {
         width: 100%;
     }
     .solicitudes-amistad
     {
         height: 40vh;
         overflow: auto;
         background-color: white;
         margin-top:30px;
         margin-left:16px;
         border-radius: 5px;
         box-shadow: 0px 1px 12px rgba(0, 0, 0,.3);
     }
     .solicitudes-amistad button:active{
        transition: .2s;
        transform: scale(.9);
     }
     .solicitudes-amistad h3
     {
         text-align: center;
     }
     .sa 
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;
         padding:15px;
     }
     .foto-solicitud img 
     {
         width: 100%;
     }
     .foto-solicitud 
     {
         width: 60px;
     }
     .sa p 
     {
         padding-top: 15px;
     }
     .sa form .check 
     {
        background-color: green;
        color:white;
        padding: 10px 5px;
        border:solid 1px green;
        width: 75px;
     }
     .sa form .remove 
     {
        background-color: red;
        color:white;
        padding: 10px 5px;
        border:solid 1px red;
        width: 75px;
     }
     .contenedor-datousuario
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         height: 100vh;
         background-color: #333;
         font-size:11px;
     }
     .card-header
     {
         
         background-color: #607d8b !important;
     }
     .btn-link,.btn-link:hover,.btn-link:focus
     {
        color:white;
        text-decoration: none;
     }
     #fecha-cumple,#cambiardatos,#cambiarcontraseña,#cambiarfoto
     {
         color:grey;
         width: 221px;
     }
     #cambiardatos,#cambiarcontraseña,#cambiarfoto
     {
         color:white;
        padding: 10px 0;
         background-color: #607d8b;
     }
     .cambiarfotoperfil input
     {
        opacity: 0;
        position: absolute;
        left:0;
        right: 0;
        top:0;
        bottom: 0;
        width: 100%;
     }
     .cambiarfotoperfil 
     {
         border:solid 1px #333;
         position: relative;
         width: 221px;
         text-align: center;
         padding: 15px 0;
         background-color: #607d8b;
         color:white;
         margin-left: 15px;
     }
     .volver
     {
         color:white;
         text-decoration: none;
     }
     .volver:hover
     {
         color:white;
         text-decoration: none;
     }
     .borrar-public
     {
         color:white;
         background-color: red ;
         border: solid 1px red;
         border-radius: 25px;
     }
     .div-subirfoto
     {
        border:none;
        position: relative;
        width: 150px;
        text-align: center;
        padding: 5px 0;
        background-color: #607d8b;
        color:white;
        border-radius: 5px;

     }
     .div-subirfoto input
     {
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
     }
     button[name='subir-publicacion']{
        border-radius: 5px;
        border: none;
     }
     .a-datosusuario:hover
     {
        text-decoration: none;
        color:black
     }
     .info-personal
     {
         overflow: auto;
     }
     .error-buscaramigo
     {
         color:red;
         font-size:10px;
     }
     .info-buscaramigo
     {
        color:green;
        font-size:10px;
     }
     .p-amigo
     {
         font-size:1em;
     }
     .p-amigo img 
     {
         width: 40px;
         height: 40px;
     }
     .w3-container
     {
         padding-top:10px;
         overflow: auto;
     }
     .buscaramigo
     {
         border:solid 1px #607d8b;
         background-color: #607d8b;
         color:white;
     }
     .fa-graduation-cap
     {
         color: blue;
     }
     .fa-heart{
         color:red;
     }
     .fa-map-marker
     {
         color:green;
     }
     .fa-birthday-cake
     {
        color:orange;
     }
     .contenedor-modpub
     {
         height: 100vh;
         background-color: #333;
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }
     .contenedor-modpub form
     {
         padding:20px;
         background-color:white;
     }
     .contenedor-modpub div
     {
        margin-bottom: 10px;
     }
     .editar-publicacion-form
     {
         margin-top:10px;
         width: 20px;
         padding-left:15px;
     }
     .editar-publicacion-form button
     {
         background-color: black;
         color: white;
         border:solid 1px black;
         border-radius: 25px;
     }
     .div-foto-modificarpub
     {
         position: relative;
         background-color:#607d8b;
         color:white;
         width: 150px;
         height: 50px;
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }
     .div-foto-modificarpub input 
     {
         position: absolute;
         left:0;
         top:0;
         right: 0;
         bottom: 0;
         opacity: 0;
         width: 100%;
     }
     .contenido-posteo
     {
        padding: 10px 5px;
     }
     .contenedor-modpub form button
     {
         background-color: #607d8b;
         width: 150px;
         height: 50px;
         color:white;
         border:solid 1px #607d8b;
     }

     #cambiar-foto{
         display: block;
         font-size: 11px;
         margin-bottom: 5px;
     }

@media (min-width:576px){
    /*--------L O G I N---------*/


.contenedor-login main 
{ 
    width: 375px;
    padding: 40px;
    transition: 1.5s;
}
.contenedor-login main svg:hover 
{
    transition:0.2s;
    width: 30px;
}
.label-login {
    font-size: .9em;

}
#input-login,#input-login2
{
    padding: 5px 15px;
    font-size:0.9em;
    margin: 12px auto;
    width: 220px;
}
#input-login:focus,#input-login:hover{

    width: 275px;
}
#input-login2:focus,#input-login2:hover{

    width: 275px;
}
input.recordarme-login,
span.recordarme-login{
    font-size:0.9em;
}

input.recordarme-login{
    margin: 5px 0;
    bottom: 31%;
    left: 30%;
}
span.recordarme-login{

    bottom: 31%;
    transform: translateX(-10px);
}

#boton-login
{
    padding: 6px 18px;
    font-size:0.9em;
    margin: 25px 0 20px 0;
    transform: translateY(25%);
    width: 220px;
}
.contenedor-login main div
{
    padding:15px;
}
.contenedor-login main svg
{
    width: 24px;
    color: white;
    transform: translateX(0%);
}
.bloque-boton-registro
{
    left:24%;
}
}
@media (min-width:768px)
{
    .form-registro div:last-child
    {
        justify-content: center;
    }
    .error 
    {
        padding-left: 45%;
    }
    .bloque-boton-registro
    {
       margin-left: 50%;
    }
    .imagen-upload
    {
        margin-left: -40%;
    }
    .recordar-registro
    {
       margin-left: 40%;
    }
    .bloque-foto-perfil
    {
         left:-13.4%;
    }
    .error2 
    {
        padding-left:20%;
    }
    .recordar-registro,.bloque-boton-registro
    {
        position: relative;
        bottom:60px;
    }
    .user-public img 
     {
         width: 40px;
         height: 40px;
     }
     .contenedor-mp
     {
         max-width: 991px;
     }
     
     /*--------L O G I N---------*/
     #boton-login
     {
         width: 215px;
     }

.contenedor-login main 
{ 
    width: 425px;
    padding: 50px;
}

.label-login {
    font-size: 1em;

}
#input-login, #input-login2
{
    padding: 6px 18px;
    font-size:1em;
    margin: 14px auto;
    width: 250px;
}
#input-login:focus,#input-login:hover{

    width: 295px;
}
#input-login2:focus,#input-login2:hover{

    width: 295px;
}
input.recordarme-login,
span.recordarme-login{
    font-size:1em;
}

input.recordarme-login{
    margin: 5px 0;
    bottom: 31%;
    left: 30%;
}
span.recordarme-login{

    bottom: 31%;
    transform: translateX(-15px);
}

#boton-login
{
    padding: 6px 22px;
    font-size:1em;
    margin: 25px 0 20px 0;
    transform: translateY(25%);
    width: 265px;
}
.contenedor-login main div
{
    padding:15px;
}
.contenedor-login main svg
{
    width: 25px;
    color: white;
    text-align: center;
}
.bloque-boton-registro
{
    left:12%;
}
}
@media (min-width: 992px)
{
   
    /*------------INDEX----------*/
    .bloque-nombre-red
    {
        height: 50vh;
    }
    /*---------------------------*/
    
    /*--------Registro-----------*/
     .contenedor-registro 
     {
         height: 100vh;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
    
     .fondo
     {
         background-size: cover;
     }
     .form-registro div:last-child
    {
        justify-content: flex-end;
    }
    .error 
    {
        padding-left: 37%;
        text-align: left;
    }
    .bloque-boton-registro
    {
       margin-left: 51%;
       

    }
    .bloque-foto-perfil
    {
        left:-13.3%
    }
    .foto-perfil
    {
        padding-right: 40%;
    }
    .imagen-upload
    {
        margin-left: 0%;
        padding-right: 60%;
        left:15%;
    }
    .bloque-boton-registro
{
    left:-0.5%;
}
.bloque-foto p 
{
    position: relative;
    left:-18%;
};
      /*---------------------------*/

      /*-------------FAQ-------------*/
      .header-faq img
    {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 700px;
    }

      
      .section-faq
      {
          display: flex;
          flex-wrap: wrap;
      }
      .article-faq
      {
          margin-bottom: 20px;

      }
      .article-faq .col-lg-6, .article-faq-form .col-lg-6
      {
          max-width: 100%;
      }
      .form-faq label, .form-faq input, 
      .form-faq textarea, .form-faq button
      {
          margin-left:0px;
      }
      .contenedor-registro #registro
      {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: none;
      }
      /*------PERFIL--------*/
      .seccion-perfil
      {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .imagen-public img 
      {
          height: 70vh;
      }
      .foto-solicitud img 
      {
          width: 100%;
          height: 20vh;
      }
      .solicitudes-amistad form 
      {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .solicitudes-amistad form input{
         border-radius: 5px;

      }
      .solicitudes-amistad form input::placeholder{
        color: rgba(240, 240, 240,.8);
      }
      .solicitudes-amistad form button
      {
        justify-content: flex-end;
        border-radius: 5px;

      }
      .error2 
    {
        padding-left:12%;
    }
    #amigo
    {
        width: 130px;
    }
    .user-public img 
     {
         width: 75%;
     }
     .solicitudes-amistad
     {
         margin-top:0;
     }
     .foto-solicitud img
     {
         height: 10vh;
     }
     .sa p 
     {
         padding-left:0;
         font-size:12px;
         font-weight: bold;
     }
     .contenedor-mp
     {
         max-width: 1199px;
     }


     /*--------L O G I N---------*/


.contenedor-login main 
{ 
    width: 35vw;
    padding: 5%;
}

#input-login,#input-login2
{
    padding: 6px 18px;
    font-size:1em;
    margin: 14px auto;
    width: 255px;
}
#input-login:focus,#input-login:hover{
    width: 25vw;
}
#input-login2:focus,#input-login2:hover{
    width: 25vw;
}
input.recordarme-login{
    margin: 1% 0;
    bottom: 32.5%;
    left: 20%;
}
span.recordarme-login{
    bottom: 32.5%;
    transform: translateX(-18px);
}

#boton-login
{
    padding: 6px 22px;
    font-size:1em;
    margin: 25px 0 20px 0;
    transform: translateY(25%);
}
.contenedor-login main div
{
    padding:15px;
}
.contenedor-login main svg
{
    width: 25px;
    color: white;
    text-align: center;
}
span.recordarme-login
{
    transform: translateX(-30px);
}
}


@media (min-width: 1200px)
{
    /*------------INDEX----------*/
    #index
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    .bloque-nombre-red
    {
        height: 100vh;
        transition:3s;
        transform: rotateY(360deg);
    } 
    /*---------------------------*/
    /*-------------REGISTRO-------------*/
    .fondo
     {
         height: 100vh;
         background-size: cover;
         transition: 3s;
     }
     .bloque-boton-registro
    {
       margin-left: 0%;
    }
    .recordar-registro
    {
       margin-left: 0;
    }
    .bloque-foto-perfil
    {
         left:16%;
     }
     .bloque-foto i
     {
        margin-left:-50%;
     }
     .error2
     {
        padding-left:13%;
     }
    /*-----------------------------*/
     /*-------------FAQ-------------*/
    .contenedor-faq .header-faq
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-faq img
    {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 800px;
    }
    .article-faq div 
    {
        border-left:0;
    }
     /*---------------------------*/

     /*PERFIL*/
     .user-public img 
     {
         width: 75%;
     }
     .solicitudes-amistad
     {
         margin-top:0;
     }
     .foto-solicitud img
     {
         height: 10vh;
     }
     .sa p 
     {
         padding-left:0;
     }
     #amigo
    {
        width: 200px;
    }
    .recordar-registro,.bloque-boton-registro
    {
        position: relative;
        bottom:0;
    }
    .user-public img 
    {
        width: 40px;
        height: 40px;
    }
    .contenedor-mp
     {
         max-width: 2064px;
     }
     .imagen-upload
     {
        padding-right: 25%;
        left:55%;
     }
     .bloque-foto p
     {
         left:-5%;
     }
     input.recordarme-login
     {
         left:28%;
     }  
     #index 
     {
        background-color:black;
     }
}
.bg-nav{
    background-color: black;
    color: gray;
}

.bg-cmain{
    background-color:#333;
}

.bg-like-comm{
    background-color: black;
    color: white;
}


 @media (min-width: 1400px){

    /*------L O G I N------*/
    .contenedor-login main 
    { 
        width: 35vw;
        padding: 5%;
        height: 55vh;
    }
    .label-login {
        font-size: 1.6em;
    
    }
    #input-login,#input-login2
    {
        padding: 6px 18px;
        font-size:1.5em;
        margin: 25px auto;
        width: 20vw;
    }
    #input-login:focus,#input-login:hover{
        width: 25vw;
    }
    #input-login2:focus,#input-login2:hover{
        width: 25vw;
    }
    input.recordarme-login,
    span.recordarme-login{
        font-size: 1.3em;

    }

    input.recordarme-login{
        margin: 1% 0;
        bottom: 31%;
        left: 30%;
    }
    span.recordarme-login{
        bottom: 31%;
        transform: translateX(-2vw);
    }
    
    #boton-login
    {
        padding: 10px 22px;
        font-size:1.5em;
        margin: 25px 0 20px 0;
        transform: translateY(25%);
        width: 20vw;
    }
    .contenedor-login main div
    {
        padding:15px;
    }
    .contenedor-login main svg
    {
        width: 2.5vw;
        color: white;
        text-align: center;
    }
 }